:root{
    max-width: 1280px !important;
    min-width: 950px;
    margin:0 auto;
}

.nav-item[aria-expanded="true"] .smooth-collapse {
    height: auto;
}

html {
    scroll-behavior: smooth;
}

*{
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

body{

    font-family: 'IBM Plex Sans KR', sans-serif !important;
    color: black;
    opacity: 1;
    letter-spacing: 2px;
}

.gnb {
    display: flex;
    flex-direction:column;
}

.gnb-fixed{
    display: flex;
    justify-content: right;
}

.gnb-btn{
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
}

.gnb-btn button{
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: large;
    opacity : 60%;
    letter-spacing: 5px;
}

button{
    border-radius: 5px !important;
    border-color: black;
}

.gnb-border{
    border-bottom:0.3rem #FE4923 solid !important;
}

.red-50{
    color: #FE4923;
    opacity: 50% !important;
}

.red-75{
    color: #FE4923;
    opacity: 75% !important;
}

.red-100{
    color: #FE4923;
    opacity: 1 !important;
}

.black-75{
    color: #00000075 !important;
}

.black-50{
    color: #00000050 !important;
}

.black-65{
    color: #00000065 !important;
}

.black-80{
    color: #00000080 !important;
}

.black-95{
    color: #00000095 !important;
}

.black-100{
    color: #1e1e1e !important;
}

.margin-0{
    margin: 0 !important;
}

.margin-5{
    margin: 5px;
}

.margin-10{
    margin: 10px;
}

.margin-20{
    margin:20px;
}

.margin-tb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-tb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.padding-top-05{
    padding-top: 0.5rem;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-left-5{
    padding-left: 5px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-left-20{
    padding-left: 20px;
}

.padding-left-30{
    padding-left: 30px;
}

.padding-left-50{
    padding-left: 50px;
}

.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-lr-10{
    padding: 0 10px 0 10px;
}

.padding-lr-20{
    padding: 0 20px 0 20px;
}

.padding-tb-5{
    padding: 5px 0 5px 0;
}

.padding-tb-10{
    padding: 10px 0 10px 0;
}

.padding-tb-10{
    padding: 10px 0 10px 0;
}

.padding-tb-20{
    padding: 20px 0 20px 0;
}

.roman-list li{
    list-style: lower-roman;
}

.custom-checkbox{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    border: 2px solid #59535275;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.custom-checkbox input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 12px;
    color: #4c484875;
    position: absolute;
    left: 3px;
    top: 0px;
    bottom: 0px;
}

.line-height-180{
    line-height: 1.8;
}

.letter-spacing-1{
    letter-spacing: 1px;
}

.align-text-right{
    text-align: right;
}

.align-item-right{
    display: flex;
    justify-content: right;
}

.pre-line{
  white-space : pre-line;
}

.btn-font{
  display : flex;
  justify-content :center;
  align-items : center;
  font-size : medium;
  text-align :center;
  border-width: 2px;
  padding : 1.5px 2px 1.5px 2px;
}

.redbtn-big{
    border-style: none;
    background-color: #FE4923;
    font-weight: bold;
    color: white;
    padding: 10px 5px 10px 5px;
}

.redbtn-small{
    border-style: none;
    background-color: #FE4923;
    font-weight: bold;
    color: white;
    padding: 5px 7px 5px 7px;
}

.whitebtn{
    opacity: 75%;
    background-color: white;
}

.whitebtn-big{
    opacity: 75%;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.whitebtn-big:hover{
    background-color: #FE4923;
    border: 2px solid #FE4923;
    color:#ffffff;
    opacity: 1;
}

.main-container{
    border-top:0.3rem #FE4923 solid;
}

.bg-beige{
    
    background-color: #F5F2EB;
}

.bg-white{
    background-color: #Ffffff;
}



.gnb-logo {
    width:48rem;
}

.gnb-right{
    min-width: 20rem;
}

.gnb-icons{
    min-width: 118px;
    margin:0 !important;
}

#logout-btn{
    background: none;
    border: none;
    cursor: pointer;
    color: #00000075
}

.slogan{
    position: relative;
    height: 390px;
}

.slogan #slogan{
    letter-spacing: 4px;
    position: absolute;
    top: 5rem;
    left: 10rem;
}
.slogan #slogan2{
    position : absolute;
    top: 12rem;
    right: 30%;
}
.slogan #shipment{
    position: absolute;
    top: 18rem;
    right: 15%;
}

@media (max-width:1150px){
    .slogan #slogan2{
        left: 10rem;
    }
    .slogan #shipment{
        left: 10rem;
    }
}

.original-price{
    text-decoration: line-through #fe4923;
}

.discount-rate{
    font-size: small;
    color:#fe4923;
}

.categories {
    display: flex;
    justify-content: space-evenly;
}

.category-card{
    width: 15rem !important;
    height: 15rem !important;
    border: 0.15rem solid #d0d0d0;
    border-radius: 5px;
    border-top:0.3rem #FE4923 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.category-card span{
    padding : 0px;
}

.category-img{
    text-align: center;
}

.category-img img{
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.float-button{
    width: 4rem;
    position: fixed;
    right: 35px;
    z-index: 1000;
    border: 1px solid #1e1e1e25;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.select-amount:hover{
    background-color: #fe4923;
    border: 2px solid #FE4923;
    color:#ffffff;
    opacity: 1;
}

.select-amount.active{
    background-color: #fe4923;
        border: 2px solid #FE4923;
        color:#ffffff;
        opacity: 1;
}

#moveup-button {
    bottom: 210px;
}

#cart-button {
    bottom: 130px; 
}

#movedown-button {
    bottom: 50px;
}

.cart-message {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: auto; /* 부모 요소의 너비 제한에서 벗어남 */
    max-width: none; /* max-width 제한 해제 */
    display: none;
    padding: 10px 20px;
    background-color: #fe4923;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    transform: scale(0.5); /* 초기 크기를 작게 설정 */
    opacity: 0; /* 초기 상태에서 투명하게 설정 */
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.modal-msg {
    position: fixed; /* 화면에 고정 */
    top: 50%; /* 화면의 세로 중앙 */
    left: 50%; /* 화면의 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확히 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    width: 30rem;
    color: var(--fc-modal-color);
    pointer-events: auto;
    background-color: var(--fc-modal-bg);
    background-clip: padding-box;
    border: var(--fc-modal-border-width) solid var(--fc-modal-border-color);
    border-radius: var(--fc-modal-border-radius);
    outline: 0;
  }

.footers{
    display: flex;
    margin: 3.5rem 0 3rem 7rem;
}

.footers h5{
    color: #00000075;
}

.updown{
    display: flex;
    justify-content: center;
}