<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <title>뉴트로핏, 나만을 위한 맛있는 건강함</title>
  <link th:href="@{/assets/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet"/>
  <link th:href="@{/assets/libs/slick-carousel/slick/slick.css}" rel="stylesheet"/>
  <link th:href="@{/assets/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet"/>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description">
  <meta content="Codescandy" name="author">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M8S4MT3EYG');
  </script>

  <!-- 구글 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap"
        rel="stylesheet">

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon"
        th:href="@{/assets/images/favicon/nutrofit-logo-only.png}">


  <!-- Libs CSS -->
  <link th:href="@{/assets/libs/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


  <!-- Theme CSS -->
  <link rel="stylesheet" th:href="@{/assets/css/theme.css}">
  <link rel="stylesheet" th:href="@{/assets/css/nutrofit-main.css}">
  <link rel="stylesheet" th:href="@{/assets/css/nutrofit-detail.css}">
  <link rel="stylesheet" th:href="@{/assets/css/nutrofit-modal.css}">
  <link rel="stylesheet" th:href="@{/assets/css/nutrofit-checkout.css}">

  <!--axios-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!--카카오 주소찾기 api-->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <!--토스페이먼츠 api-->
  <script src="https://js.tosspayments.com/v2/standard"></script>
  <!--uuid sdk-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>

</head>

<body>

<!-- GNB -->
<header class="py-lg-5 py-4 px-0 border-bottom border-bottom-lg-0 gnb">
  <div class="container-fluid">
    <div class="row w-100 align-items-center g-0 gx-lg-3 gnb-fixed">
      <div class="col-xxl-9 col-lg-8">
        <div class="d-flex align-items-center gnb-logo">
          <a class="navbar-brand d-none d-lg-block" th:href="@{/}">
            <img th:src="@{/assets/images/logo/nutrofit-logo-leg-nobg.png}"
                 alt="eCommerce HTML Template"
                 style="width: 75%; height: auto; margin-left: 4rem;">
          </a>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-4 d-flex align-items-center gnb-right">
        <!-- 정기구독 버튼 -->
        <span class="gnb-btn"><button type="submit"><a th:href="@{/subscribe}"
                                                       style="color: black;">정기구독</a></button></span>
        <!-- 회원가입/마이페이지 버튼 -->
        <span class="gnb-btn">
          <!-- 비로그인 상태 -->
          <button type="button" th:if="${#authentication.principal == 'anonymousUser'}">
              <a th:href="@{/signup}" style="color: black;">회원가입</a>
          </button>

          <!-- 로그인 상태 -->
          <!-- 나의 정보 버튼 -->
          <span th:if="${#authentication?.principal != 'anonymousUser'}">
              <span class="black-95"
                    th:utext="|${#authentication.principal.name}님,<br>환영합니다|"></span>
          </span>
        </span>

        <div class="list-inline ms-auto d-lg-block d-none gnb-icons">
          <div class="list-inline-item">
            <!-- 비로그인 상태 -->
            <a th:if="${#authentication.principal == 'anonymousUser'}"
               th:href="@{/signin}" class="text-muted">
              <!-- 로그인 아이콘 -->
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                   fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round"
                   stroke-linejoin="round"
                   class="feather feather-user">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </a>


            <!-- 로그인 상태 -->
            <form th:if="${#authentication?.principal != 'anonymousUser'}"
                  th:action="@{/logout}" method="post" class="text-muted">
              <button type="submit"
                      style="background: none; border: none; cursor: pointer; color: #00000075">
                <!-- 로그아웃 아이콘 -->
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round" class="feather feather-log-in">
                  <path d="M15 3H21V21H15"></path>
                  <polyline points="10 17 15 12 10 7"></polyline>
                  <line x1="15" y1="12" x2="3" y2="12"></line>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <!-- 결제섹션 -->
  <section class="container main-container bg-beige">
    <div>
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-6">
          <div>
            <div class="mb-8">
              <!-- text -->
              <h3 class="fw-bold mb-0 margin-tb-20 payment-container">결제</h3>

            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <!-- accordion -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <!-- accordion item -->
              <div class="accordion-item bg-beige payment-container">

                <div class="d-flex justify-content-between align-items-center">
                  <!-- heading one -->
                  <a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseOne" aria-expanded="true"
                     aria-controls="flush-collapseOne">
                    <li class="padding-tb-5 hover-title">배송정보확인</li>

                  </a>
                  <!-- btn -->
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                     data-bs-parent="#accordionFlushExample">
                  <p class="h6 black-75" style="padding: 0.5rem 0 0 1.5rem;">첫 주문 고객께서는 '등록' 버튼을 통해
                    배송정보를 등록해주세요</p>
                  <div class="mt-5">
                    <div class="row padding-lr-20">
                      <div class="col-12 mb-4">
                        <!-- form -->
                        <div class="card card-body p-6">
                          <!-- 주소정보 -->
                          <address>
                            <table class="delivery-info">
                              <tr>
                                <td style="width: 7rem">수령인이름</td>
                                <td th:text="${deliveryInfo.name}"></td>
                              </tr>
                              <tr>
                                <td>수령인연락처</td>
                                <td th:text="${deliveryInfo.phone}"></td>
                              </tr>
                              <tr>
                                <td>배송지주소</td>
                                <td th:text="${deliveryInfo.address}"></td>
                              </tr>
                              <tr>
                                <td>상세주소</td>
                                <td th:text="${deliveryInfo.detailAddress}"></td>
                              </tr>
                            </table>
                          </address>
                          <span class="text-danger">기본 배송지</span>
                        </div>
                        <div class="mt-5 d-flex justify-content-between">
                          <a href="#" class="btn btn-outline-gray-400 text-muted"
                             data-bs-toggle="modal"
                             data-bs-target="#addAddressModal">등록</a>
                          <!-- collapse -->
                          <a href="#" class="btn btn-primary ms-2" data-bs-toggle="collapse"
                             data-bs-target="#flush-collapseThree" aria-expanded="false"
                             aria-controls="flush-collapseThree" id="check-delivery-info">다음</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion item -->
              <div class="accordion-item py-4 bg-beige payment-container">
                <div class="d-flex justify-content-between align-items-center  border-top">
                  <!-- heading one -->
                  <a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseThree" aria-expanded="true"
                     aria-controls="flush-collapseThree">
                    <li class="padding-top-20 hover-title">배송요청사항</li>
                  </a>
                  <!-- btn -->
                </div>
                <div id="flush-collapseThree"
                     class="accordion-collapse collapse order-requirement"
                     >
                  <div>
                    <select class="order-requirement-select black-75">
                      <option value="새벽 배송 시 벨 누르지 말고 놓고 가주세요" selected>새벽 배송 시 벨 누르지 말고 놓고 가주세요</option>
                      <option value="문 앞에 놓고 가주세요">문 앞에 놓고 가주세요</option>
                      <option value="부재 시 경비실에 맡겨주세요">부재 시 경비실에 맡겨주세요</option>
                      <option value="부재 시 연락바랍니다">부재 시 연락바랍니다</option>
                      <option value="직접 입력">직접 입력</option>
                      <option value="없음">없음</option>
                    </select>
                    <div class="form-check padding-top-10 align-item-right">
                      <input class="form-check-input" type="checkbox" value=""
                             name="flexCheckDefault" id="requirement-use-next">
                      <label class="form-check-label padding-left-5" for="flexCheckDefault">
                        다음에도 사용
                      </label>
                    </div>
                  </div>
                  <div><textarea class="order-requirement-select black-75" id="input-in-person" placeholder="여기에 입력해주세요"
                                 hidden></textarea></div>
<!--                  <div class="mt-5 d-flex justify-content-end margin-0">-->
<!--                    <a href="#" class="btn btn-outline-gray-400 text-muted"-->
<!--                       data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"-->
<!--                       aria-expanded="false"-->
<!--                       aria-controls="flush-collapseOne">이전</a>-->
<!--                    <a href="#" class="btn btn-primary ms-2" data-bs-toggle="collapse"-->
<!--                       data-bs-target="#flush-collapseFour" aria-expanded="false"-->
<!--                       aria-controls="flush-collapseFour" id="delivery-requirement-to-next">다음</a>-->
<!--                  </div>-->
                </div>
              </div>
              <!-- accordion item -->
<!--              <div class="accordion-item py-4 bg-beige payment-container">-->
<!--                <div class="d-flex justify-content-between align-items-center border-top">-->
<!--                  &lt;!&ndash; heading one &ndash;&gt;-->
<!--                  <a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse"-->
<!--                     data-bs-target="#flush-collapseFour" aria-expanded="true"-->
<!--                     aria-controls="flush-collapseFour">-->
<!--                    <li class="padding-top-20 hover-title">결제방법(간편결제) 확인</li>-->
<!--                  </a></div>-->
<!--                <div id="flush-collapseFour" class="accordion-collapse collapse"-->
<!--                     data-bs-parent="#accordionFlushExample">-->
<!--                  <div class="mt-5">-->
<!--                    <div>-->
<!--                      <p class="h6 black-75" style="padding: 0.5rem 0 0 1.5rem;">다음과 같이 제공됩니다.</p>-->
<!--                      <div class="payment-api">-->
<!--                        <button><img th:src="@{/assets/images/payment/badge_npay.svg}" alt="네이버페이"></button>-->
<!--                        <button><img th:src="@{/assets/images/payment/payment_icon_yellow_large.png}" alt="카카오페이"></button>-->
<!--                        <button><img th:src="@{/assets/images/payment/logo-toss-pay.svg}" alt="토스페이"></button>-->
<!--                      </div>-->
<!--                      <div class="mt-5 d-flex justify-content-end mt-1 padding-bottom-20">-->
<!--                        <a href="#" class="btn btn-outline-gray-400 text-muted"-->
<!--                           data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"-->
<!--                           aria-expanded="false"-->
<!--                           aria-controls="flush-collapseThree">이전</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
          <!-- 주문상품정보 -->
          <div class="col-12 col-md-12 col-lg-55 padding-bottom-30">
            <div class="order-item-info">
              <div class="card shadow-sm ">
                <h5 class="px-6 py-4 bg-transparent mb-0">주문상품정보</h5>
                <ul class="list-group list-group-flush">
                  <!-- 주문상품리스트 -->
                  <div id="order-items-container"></div>
                  <!-- 합계 금액 -->
                  <li class="list-group-item px-4 py-3 black-75">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <div>합계</div>
                      <div class="fw-bold" id="order-item-total"></div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between  ">
                      <div>배송비</div>
                      <div class="fw-bold" id="shipment-fee">무료</div>
                    </div>
                  </li>
                  <!-- 주문 총 합계-->
                  <li class="list-group-item px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between fw-bold">
                      <div>총 합계</div>
                      <div id="order-total"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- 주문상품정보 템플릿 -->
          <template id="order-item-container">
            <li class="list-group-item px-4 py-3">
              <div class="row align-items-center order-item-info-one">
                <!-- 장바구니상품 -->
                <div class="col-3 col-md-3 order-item-card">
                  <!-- 제품이미지 -->
                  <img class="img-fluid" id="order-item-image" src="" alt="">
                </div>
                <div class="col-5 col-md-5 order-item-left">
                  <!-- 제품정보(식단종류, 이름, 1회제공량, 가격) + 삭제 -->
                  <small class="black-75" id="order-item-category"></small>
                  <a href="#!" class="btn-action" data-bs-toggle="modal"
                     data-bs-target="#quickViewModal">
                    <h6 class="mb-0" id="order-item-name"></h6>
                  </a>
                  <span>
                    <span class="text-muted">
                      <small id="order-item-portion"></small>,
                      <small id="order-item-price"></small>
                    </span>
                  </span>
                  <div class="mt-2 small lh-1">
                    <!-- 휴지통 아이콘 -->
                    <a href="#!" class="text-decoration-none text-inherit" id="bin-icon">
                      <span class="me-1 align-text-bottom">
                        <!-- 휴지통 아이콘 -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                             viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round"
                             class="feather feather-trash-2 text-success"
                             style="color: #FE4923 !important;">
                          <polyline points="3 6 5 6 21 6"></polyline>
                          <path
                              d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                          </path>
                          <line x1="10" y1="11" x2="10" y2="17"></line>
                          <line x1="14" y1="11" x2="14" y2="17"></line>
                        </svg>
                      </span>
                      <span class="text-muted">삭제</span>
                    </a>
                  </div>
                </div>
                <!-- 1회 제공량 버튼,주문수량 조절버튼, 총 가격 -->
                <span class="cartitem-right2 d-flex align-items-end gap-2">
                  <span class="cart-portion-buttons">
                    <button type="button" class="select-amount">1인분</button>
                    <button type="button" class="select-amount">2인분</button>
                    <button type="button" class="select-amount">4인분</button>
                  </span>
                  <div class="input-group input-spinner updown2">
                    <input type="button" value="-"
                           class="button-minus btn btn-sm order-quantity-btn"
                           data-action="decrease" style="border-width: 2px;">
                    <input type="number" step="1" max="10" value="1"
                           class="quantity-field form-control-sm form-input order-item-quantity"
                           style="border-style: none;">
                    <input type="button" value="+"
                           class="button-plus btn btn-sm order-quantity-btn"
                           data-action="increase" style="border-width: 2px;">
                  </div>
                  <div class="price-display text-end">
                    <div id="order-item-total-price">
                      <span class="text-decoration-line-through text-muted original-price"></span>
                      <div class="discounted-price">
                        <span class="text-danger discount-rate"></span>
                        <span class="final-price"></span>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
            </li>
          </template>
          <!-- 결제확인 체크박스 -->
          <div class="approve-payment">
            <div class="form-check align-item-right">
              <input class="form-check-input " type="checkbox" value=""
                     id="payment-agree-checkbox" required>
              <!-- label -->
              <label class="form-check-label padding-left-5"
                     for="payment-agree-checkbox">
                결제 내용을 확인하였으며, 이에 동의합니다
              </label>
            </div>
            <!-- 결제하기 버튼 및 취소-->
            <div class="mt-5 d-flex justify-content-end mt-1">
              <button type="submit" id="pay-button" class="btn btn-primary">결제하기</button>
              <button type="button" id="cancel-pay-button"
                      class="btn btn-outline-gray-400 text-muted ms-2">취소
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- 배송정보등록 모달-->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal body -->
      <div class="modal-body p-6">
        <div class="d-flex justify-content-between mb-5">
          <!-- heading -->
          <div>
            <h4 class="h4 mb-1" id="addAddressModalLabel">배송정보등록</h4>
          </div>
          <div>
            <!-- button -->
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
        </div>
        <!-- row -->
        <form id="changeAddressForm" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <input type="text" class="form-control" placeholder="수령인이름" aria-label="수령인이름"
                     required>
              <div class="invalid-feedback">
                수령인 이름을 입력해주세요.
              </div>
            </div>
            <div class="col-12">
              <input type="tel" class="form-control" placeholder="수령인연락처 ('-' 없이)"
                     pattern="[0-9]{2,3}[0-9]{3,4}[0-9]{4}" aria-label="수령인연락처" required>
              <div class="invalid-feedback">
                올바른 전화번호 형식으로 입력해주세요.
              </div>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" placeholder="배송지주소" aria-label="배송지주소"
                     id="address" readonly required>
              <button type="button" class="btn btn-secondary mt-2" onclick="searchAddress()">주소찾기
              </button>
              <div class="invalid-feedback">
                배송지 주소를 입력해주세요.
              </div>
            </div>
            <div class="col-12">
              <input type="text" class="form-control" placeholder="상세주소" aria-label="상세주소"
                     id="detailAddress" required>
              <div class="invalid-feedback">
                상세주소를 입력해주세요.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  기본 배송지로 등록
                </label>
              </div>
            </div>
            <div class="col-12 text-end">
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">취소
              </button>
              <button class="btn btn-primary" type="submit" id="delivery-info-register-btn">등록
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- 결제처리 spinner -->
<div id="loadingSpinner" class="loading-spinner-overlay" style="display: none;">
  <div class="loading-spinner">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="mt-2">결제 처리 중입니다...</div>
  </div>
</div>

<!-- 결제성공 메시지 모달 -->
<div class="modal fade" id="PaymentSuccessModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-msg">
      <div class="modal-body p-8">
        <div class="position-absolute top-0 end-0 me-3 mt-3">
        </div>
        <div class="payment-success-message">
          <h4>결제가 완료되었습니다!</h4>
            <button type="button" class="whitebtn-big margin-10" id="payment-success-ok">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 이용약관 모달 -->
<div class="modal fade" id="TermsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-8">
        <div class="position-absolute top-0 end-0 me-3 mt-3">
          <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div>
          <table class="terms-privacy">
            <th><h2 style="margin-bottom: 2rem;">서비스 이용약관</h2></th>
            <tr>
              <th>제1조 목적</th>
              <td>
                <ul>
                  <li>본 약관은 뉴트로핏(이하 “회사”)에서 제공하는 밀키트 및 관련 서비스(이하 “서비스”라 합니다)를 이용함에 있어 회사와 이용자의
                    권리·의무
                    및 책임사항을 규정함을 목적으로 합니다.
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>제2조 용어 정의</th>
              <td>
                <ol>
                  <li>“이용자”란 사이에 접속하여 이 약관에 따라 회사가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.</li>
                  <li> “회원”이라 함은 회사에 개인정보를 제공하여 회원등록을 한 자로서, 회사에서 제공되는 서비스를 지속적으로 이용할 수 있는 자를
                    말합니다.
                  </li>
                  <li> “비회원”이라 함은 회원에 가입하지 않고 회사가 제공하는 ‘일부 서비스’ 를 이용하는 자를 말합니다.</li>
                  <li>“일부 서비스”라 함은 “장바구니 상품등록, 결제서비스(단품결제 및 정기구독 서비스)를 제외한 “제품검색, 제품상세정보 조회”만 가능한
                    서비스를 말합니다.
                  </li>
                  <li>“밀키트”라 함은 회사가 판매하는 조리법이 포함된 요리 재료 세트를 의미합니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제3조 회원가입</th>
              <td>
                <ol>
                  <li>회원가입은 만 14세 이상인 자에 한해 가능합니다.</li>
                  <li>외국인의 경우 외국인등록번호를 사용하여 회원가입이 가능합니다.</li>
                  <li>회원가입 시 반드시 정확한 정보를 제공해야 하며, 허위정보 제공 시 서비스 이용에 제한이 있을 수 있습니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제4조 개인정보 제공 및 동의</th>
              <td>
                <ol>
                  <li>회사는 회원가입 및 서비스 제공에 필요한 최소한의 개인정보만을 수집하며, 수집된 정보는 회사의 개인정보 처리방침에 따라 관리됩니다.
                  </li>
                  <li>회원은 서비스 이용 시 제공되는 개인정보의 수집 및 이용에 대해 동의해야 하며, 구체적인 개인정보 수집 항목과 이용 목적은 개인정보
                    처리방침에서 확인할 수 있습니다.
                  </li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제5조 이용자의 의무</th>
              <td>
                <ol>
                  <li>회원은 본 약관 및 관계 법령을 준수하여야 하며, 회사의 정상적인 운영을 방해하는 행위를 해서는 안 됩니다.</li>
                  <li>회원의 계정 정보는 본인만 사용 가능하며, 이를 타인에게 양도하거나 대여할 수 없습니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제6조 구매 및 결제</th>
              <td>
                <ol>
                  <li>비회원의 경우 일부 상품 구매에 제한이 있을 수 있습니다.</li>
                  <li>결제 수단은 결제대행사를 통한 간편결제만 제공됩니다.</li>
                  <li>회사는 결제 완료 후 송금처리가 이루어진 시점에서만 주문을 확정합니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제7조 배송정책</th>
              <td>
                <ol>
                  <li>당일 발송상품은 평일 오후 3시 이전 주문에 한해 발송되며, 특정조건에 따라 출고 일정이 변경될 수 있습니다.</li>
                  <li>배송비는 주문금액 또는 주문상품에 따라 부과됩니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제8조 이용약관의 개정</th>
              <td>
                <ol>
                  <li>회사는 본 약관을 개정할 수 있으며, 개정 시 회원에게 이메일을 통해 공지합니다.</li>
                  <li>개정된 약관에 동의하지 않을 경구 회원은 탈퇴를 요청할 수 있으며, 별도 의사표시가 없을 경우 개정된 약관에 동의한 것으로 간주됩니다.
                  </li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제9조 책임의 한계</th>
              <td>
                <ol>
                  <li>회사는 천재지변 또는 이에 준하는 불가항력으로 인해 서비스를 제공할 수 없는 경우 서비스 제공에 대한 책임이 면제됩니다.</li>
                  <li>회사는 회원의 귀책사유로 인한 서비스 이용 장애에 대해 책임을 지지않습니다.</li>
                </ol>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 개인정보 처리방침 -->
<div class="modal fade" id="PrivacyModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-8">
        <div class="position-absolute top-0 end-0 me-3 mt-3">
          <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
          ></button>
        </div>
        <div>
          <table class="terms-privacy">
            <th><h2 style="margin-bottom: 2rem;">개인정보 처리방침</h2></th>
            <tr>
              <th>제1조 수집하는 개인정보의 항목</th>
              <td>
                <ol>
                  <li>필수정보 : 이름(한글 5자, 영문 20자 이내), 아이디(영문,숫자 조합으로 6~20자, 대소문자 구별, 한글,특수문자 사용불가)
                    비밀번호
                    (8~20자, 특수문자 포함 필수), 이메일 주소, 생년월일 (yyyyMMdd 형식, 숫자만 입력가능), 성별 (남성/여성 선택),
                    휴대폰번호(숫자만 입력가능)
                  </li>
                  <li>선택정보 : 관심 있는 상품 및 식습관 정보(맞춤형 서비스 제공을 위한 정보)</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제2조 개인정보의 수집 및 이용 목적</th>
              <td>
                <ol>
                  <li>회사는 수집한 개인정보를 다음과 같은 목적으로 사용합니다:</li>
                  <li>회원 관리: 회원 식별, 서비스 이용 확인, 불량 회원의 부정 이용 방지</li>
                  <li>서비스 제공: 맞춤형 밀키트 추천, 제품 배송 및 고객 서비스</li>
                  <li>마케팅 및 광고: 이벤트 정보 및 맞춤형 서비스 제공, 프로모션 참여 기회 제공</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제3조 개인정보의 보유 및 이용 기간</th>
              <td>
                <ol>
                  <li>회사는 원칙적으로 회원 탈퇴 시 개인정보를 지체 없이 파기하며, 관련 법령에 따라 필요한 경우 아래와 같이 보유할 수 있습니다:</li>
                  <li>계약 또는 청약철회에 관한 기록: 5년</li>
                  <li>대금 결제 및 재화 등의 공급에 관한 기록: 5년</li>
                  <li>소비자 불만 또는 분쟁 처리에 관한 기록: 3년</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제4조 개인정보의 파기 절차 및 방법</th>
              <td>
                <ol>
                  <li>파기 절차: 수집된 개인정보는 보유 기간이 경과되거나 처리 목적이 달성된 후 파기됩니다.</li>
                  <li>파기 방법: 전자적 파일 형태의 정보는 복구 불가능한 기술적 방법을 사용하여 삭제합니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제5조 개인정보의 제3자 제공</th>
              <td>
                <ol>
                  <li>회사는 법령에 근거하거나 이용자의 동의를 받은 경우에 한해 개인정보를 제3자에게 제공합니다.</li>
                  <li>법령에 따른 예외적인 경우를 제외하고, 이용자의 사전 동의 없이 개인정보를 외부에 제공하지 않습니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제6조 개인정보 처리 위탁</th>
              <td>
                <ol>
                  <li>회사는 원활한 서비스 제공을 위해 개인정보 처리 업무를 외부 전문업체에 위탁할 수 있으며, 이 경우 해당 업체에 개인정보 보호 의무를
                    명확히
                    규정합니다.
                  </li>
                  <li>위탁사: 네이버, 카카오, 토스</li>
                  <li>위탁 업무 내용: 결제 처리</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제7조 이용자의 권리와 행사 방법</th>
              <td>
                <ol>
                  <li>이용자는 언제든지 개인정보 열람, 정정, 삭제를 요청할 수 있습니다.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제8조 개인정보 보호를 위한 기술적/관리적 대책</th>
              <td>
                <ol>
                  <li>회사는 개인정보의 안전성을 확보하기 위해 다음과 같은 조치를 취합니다:</li>
                  <li>기술적 조치: 개인정보 암호화, 접근 제어 시스템</li>
                  <li>관리적 조치: 개인정보 취급 직원의 최소화 및 정기 교육, 내부 관리 계획 수립 및 시행</li>
                </ol>
              </td>
            </tr>
            <tr>
              <th>제9조 개인정보 처리방침의 개정</th>
              <td>
                <ol>
                  <li>회사는 개인정보 처리방침을 개정할 수 있으며, 변경된 사항은 이메일 또는 휴대폰번호를 통하여 공지합니다.</li>
                  <li>변경된 방침에 동의하지 않을 경우 탈퇴할 수 있습니다.</li>
                </ol>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<!-- footer -->
<footer class="black-50 container">
  <div class="footers">
    <span><a href="#" data-bs-toggle="modal" data-bs-target="#TermsModal"><h5
        style="margin-right: 3.5rem;">이용약관</h5></a></span>
    <span><a href="#" data-bs-toggle="modal"
             data-bs-target="#PrivacyModal"><h5>개인정보 처리방침</h5></a></span>
  </div>
  <!-- 저작권 표시 -->
  <div class="footers">
    <div class="col-md-6"><span class="small text-muted"><h5>Copyright 2024 ©nutrofit.  All rights reserved.</h5></span>
    </div>
  </div>
  </div>
</footer>
<!-- Javascript-->
<!-- Libs JS -->
<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/assets/js/theme.min.js}"></script>
<script th:src="@{/assets/libs/slick-carousel/slick/slick.min.js}"></script>
<script th:src="@{/assets/js/vendors/slick-slider copy.js}"></script>
<script th:src="@{/assets/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
<script th:src="@{/assets/js/vendors/tns-slider.js}"></script>
<script th:src="@{/assets/js/vendors/zoom.js}"></script>
<script th:src="@{/assets/js/vendors/increment-value.js}"></script>
<script th:src="@{/assets/js/vendors/nutrofit-checkout.js}"></script>
<script th:src="@{/assets/js/vendors/nutrofit-payment.js}"></script>

</body>

</html>